HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

**/data/**
**/jenkins_home/**
**/jenkins_slave_home/**


**/data1/**
**/data2/**
**/data3/**
**/data4/**
**/data5/**
**/data6/**
**/logs/**